/* Generic Styling */

body {
	font-family:"Trebuchet MS" Arial, Helvetica, sans-serif;
	font-size:62.5%; /* Sets default font size to 10px */
	color:#222222;
}

* {
    margin:0;
    padding:0;
}

/* Structure */

#wrapper {
	margin:0 auto;
	width:700px;
	background:#ffffff;
	font-size:1.60em;
}
#header {
    padding: 15px 30px;
	height: 140px;
    text-align: center;
}

#content {
    text-align: center;
	min-height:400px;
}

/* Buttons */

.button-1 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 15px 30px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1 {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-1:active,
.button-1:hover {
  outline: 0;
}

.button-1:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

.afegir {
    background-color: rgba(46, 252, 114, 0.26);
}